---
http_interactions:
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/dropbox/awesome-tests/foo.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=ascii
      X-Dropbox-Metadata:
      - ! '{"revision": 14, "rev": "e1f47d8b3", "thumb_exists": false, "bytes": 9,
        "modified": "Mon, 10 Feb 2014 18:14:30 +0000", "client_mtime": "Mon, 10 Feb
        2014 18:12:21 +0000", "path": "/awesome-tests/foo.txt", "is_dir": false, "icon":
        "page_white_text", "root": "dropbox", "mime_type": "text/plain", "size": "9
        bytes"}'
      X-Server-Response-Time:
      - '237'
      Etag:
      - 14n
      X-Dropbox-Request-Id:
      - fcdc18da2ff0b4ffc0824951451b3b35
      X-Requestid:
      - daf4a2508e1065e48b2b903d488d82c0
    body:
      encoding: US-ASCII
      string: Some file
  recorded_at: Mon, 10 Feb 2014 18:15:20 GMT
recorded_with: VCR 2.8.0
