---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=dir-spec-tests&root=dropbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '126'
      X-Dropbox-Request-Id:
      - a437fd44aebcc94716035e0186995a2d
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 73000ac7faf0fff9cc7d21da9ff90b26
    body:
      encoding: US-ASCII
      string: ! '{"revision": 16, "rev": "101f47d8b3", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 10 Feb 2014 18:19:45 +0000", "path": "/dir-spec-tests",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 18:19:46 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/copy?from_path=dir-spec-tests&root=dropbox&to_path=dir-spec-tests-copied
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '212'
      X-Dropbox-Request-Id:
      - f72e146122cd9bef577f56b370bde5b2
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - b21efbe4abadacbce4f7f32fcc826942
    body:
      encoding: US-ASCII
      string: ! '{"hash": "7c5325fca7bd761b981fbda9f718c6c2", "revision": 17, "rev":
        "111f47d8b3", "thumb_exists": false, "bytes": 0, "modified": "Mon, 10 Feb
        2014 18:19:46 +0000", "path": "/dir-spec-tests-copied", "is_dir": true, "icon":
        "folder", "root": "dropbox", "contents": [], "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 18:19:48 GMT
recorded_with: VCR 2.8.0
