---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=dir-spec-tests&root=dropbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '192'
      X-Dropbox-Request-Id:
      - aff7f37d06bd4431f018580b9c0c9f9e
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 52c29bb729c80ecc1a8c9a58d6f02c78
    body:
      encoding: US-ASCII
      string: ! '{"revision": 22, "rev": "161f47d8b3", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 10 Feb 2014 18:22:22 +0000", "path": "/dir-spec-tests",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 18:22:24 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/move?from_path=dir-spec-tests&root=dropbox&to_path=dir-spec-tests-copied
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '258'
      X-Dropbox-Request-Id:
      - 20a5cecef4c209ae2045cb0d26ee7cb7
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - e500b6d671bcbebe40c293167ed52f2e
    body:
      encoding: US-ASCII
      string: ! '{"hash": "374f5b6840795089e6290c6f91707815", "revision": 24, "rev":
        "181f47d8b3", "thumb_exists": false, "bytes": 0, "modified": "Mon, 10 Feb
        2014 18:22:23 +0000", "path": "/dir-spec-tests-copied", "is_dir": true, "icon":
        "folder", "root": "dropbox", "contents": [], "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 18:22:25 GMT
recorded_with: VCR 2.8.0
