---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/test.txt
    body:
      encoding: UTF-8
      string: Some file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '911'
      X-Dropbox-Request-Id:
      - 02ded270a0dff18c235e68a3406422ba
      X-Requestid:
      - a33e3071a94b339e3084643e26275a26
    body:
      encoding: US-ASCII
      string: ! '{"revision": 9, "rev": "91f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 18:14:02 +0000", "client_mtime": "Mon, 10
        Feb 2014 18:14:02 +0000", "path": "/test.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 18:14:04 GMT
recorded_with: VCR 2.8.0
