---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/test%20%C5%82o%C5%82%C4%85%C3%B3.txt
    body:
      encoding: UTF-8
      string: Some file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '427'
      X-Dropbox-Request-Id:
      - dd6bb90e4533807d7ec45a1532c07e58
      X-Requestid:
      - 6eef648e483a28549c9e8888325ab7f7
    body:
      encoding: US-ASCII
      string: ! '{"revision": 11, "rev": "b1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 18:14:04 +0000", "client_mtime": "Mon, 10
        Feb 2014 18:14:04 +0000", "path": "/test \u0142o\u0142\u0105\u00f3.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 18:14:06 GMT
recorded_with: VCR 2.8.0
