---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/awesome-tests/delta-test-baz.txt
    body:
      encoding: UTF-8
      string: Some file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '447'
      X-Dropbox-Request-Id:
      - 4a85e5664c8f27c52a888854b8eea979
      X-Requestid:
      - a45efde6398cd95498fb89589edcd288
    body:
      encoding: US-ASCII
      string: ! '{"revision": 48, "rev": "301f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 19:03:47 +0000", "client_mtime": "Mon, 10
        Feb 2014 19:03:47 +0000", "path": "/awesome-tests/delta-test-baz.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 19:03:47 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '47'
      X-Dropbox-Request-Id:
      - 3b5161d52faef432cbfe3639d2e9ba6c
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 30e187473dc8f9f4c9981b2a3dfa6ce4
    body:
      encoding: US-ASCII
      string: ! '{"has_more": false, "cursor": "AAG2tvaxgBgxU6_jBjTYoY7KYpQzJEiKaqsKjYvpvXfrGwLlVanxE9-CVJXphS7DYn4-qc4H10pNQDGtqLFoHcZtBsL2FqrN1XXoypURb1tQ7w",
        "entries": [["/getting started.pdf", {"revision": 1, "rev": "11f47d8b3", "thumb_exists":
        false, "bytes": 249159, "modified": "Mon, 10 Feb 2014 17:46:48 +0000", "client_mtime":
        "Mon, 10 Feb 2014 17:46:48 +0000", "path": "/Getting Started.pdf", "is_dir":
        false, "icon": "page_white_acrobat", "root": "dropbox", "mime_type": "application/pdf",
        "size": "243.3 KB"}], ["/awesome-tests", {"revision": 2, "rev": "21f47d8b3",
        "thumb_exists": false, "bytes": 0, "modified": "Mon,[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=awesome-tests/delta-test-baz.txt&root=dropbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '169'
      X-Dropbox-Request-Id:
      - 4d504973799b95b26a8a176ed7b5d0cc
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 15e9ef3e5824321e83da5414b1000e40
    body:
      encoding: US-ASCII
      string: ! '{"is_deleted": true, "revision": 49, "rev": "311f47d8b3", "thumb_exists":
        false, "bytes": 0, "modified": "Mon, 10 Feb 2014 19:03:49 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/awesome-tests/delta-test-baz.txt",
        "is_dir": false, "icon": "page_white_text", "root": "dropbox", "mime_type":
        "text/plain", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 19:03:50 GMT
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/awesome-tests/delta-test-bar.txt
    body:
      encoding: UTF-8
      string: Another file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '388'
      X-Dropbox-Request-Id:
      - e71c8cfb5566f70970fd940a974d1674
      X-Requestid:
      - 0db7417971c56fc3d3bfd238bc260108
    body:
      encoding: US-ASCII
      string: ! '{"revision": 50, "rev": "321f47d8b3", "thumb_exists": false, "bytes":
        12, "modified": "Mon, 10 Feb 2014 19:03:51 +0000", "client_mtime": "Mon, 10
        Feb 2014 19:03:51 +0000", "path": "/awesome-tests/delta-test-bar.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "12 bytes"}'
  recorded_at: Mon, 10 Feb 2014 19:03:51 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/delta?cursor=AAG2tvaxgBgxU6_jBjTYoY7KYpQzJEiKaqsKjYvpvXfrGwLlVanxE9-CVJXphS7DYn4-qc4H10pNQDGtqLFoHcZtBsL2FqrN1XXoypURb1tQ7w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '37'
      X-Dropbox-Request-Id:
      - 602675b3cadbb4effc18a8f2f91ea5ab
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - e60f4990445e3f738543f636fd2fdf29
    body:
      encoding: US-ASCII
      string: ! '{"has_more": false, "cursor": "AAHr87qxdbDena2_Nh56Fe0zHuwVBDjgFqybvWZFR4zdv11TTEqfWMO8Dbkwv54ug9E8CS76sbf66ND384EUTxTIIXFzt4YX0CJ3r8qStFH6-A",
        "entries": [["/awesome-tests/delta-test-baz.txt", null], ["/awesome-tests/delta-test-bar.txt",
        {"revision": 50, "rev": "321f47d8b3", "thumb_exists": false, "bytes": 12,
        "modified": "Mon, 10 Feb 2014 19:03:51 +0000", "client_mtime": "Mon, 10 Feb
        2014 19:03:51 +0000", "path": "/awesome-tests/delta-test-bar.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "12 bytes"}]], "reset": false}'
  recorded_at: Mon, 10 Feb 2014 19:03:52 GMT
recorded_with: VCR 2.8.0
