---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/awesome-tests/delta-test-foo.txt
    body:
      encoding: UTF-8
      string: Some file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '449'
      X-Dropbox-Request-Id:
      - ff5bcbd106fb05849561ac07d87ec17e
      X-Requestid:
      - 0698afde447692cba46585764fbc29ee
    body:
      encoding: US-ASCII
      string: ! '{"revision": 47, "rev": "2f1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 19:03:45 +0000", "client_mtime": "Mon, 10
        Feb 2014 19:03:45 +0000", "path": "/awesome-tests/delta-test-foo.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 19:03:45 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '46'
      X-Dropbox-Request-Id:
      - 2e132abaf876f182821e0085850f01b8
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 35628fdca8cc798e05454f90c52bbfc1
    body:
      encoding: US-ASCII
      string: ! '{"has_more": false, "cursor": "AAENx-9hST7f87HSwPjChFUOLNl4ekhgZNG4rHIRMrVwCdga_PgDrz72-qPMfY4a5a4gVwdrAAByNtMXfKdKD1PdGZkJAVCvB7dhKCT4Y8Y2qA",
        "entries": [["/getting started.pdf", {"revision": 1, "rev": "11f47d8b3", "thumb_exists":
        false, "bytes": 249159, "modified": "Mon, 10 Feb 2014 17:46:48 +0000", "client_mtime":
        "Mon, 10 Feb 2014 17:46:48 +0000", "path": "/Getting Started.pdf", "is_dir":
        false, "icon": "page_white_acrobat", "root": "dropbox", "mime_type": "application/pdf",
        "size": "243.3 KB"}], ["/awesome-tests", {"revision": 2, "rev": "21f47d8b3",
        "thumb_exists": false, "bytes": 0, "modified": "Mon,[...]
