---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=dir-spec-tests&root=dropbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '142'
      X-Dropbox-Request-Id:
      - 3439413e5b98e72d21e2ed12c9c78dd5
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 6113e4c8a4e36f3cd278457cc032efb0
    body:
      encoding: US-ASCII
      string: ! '{"revision": 57, "rev": "391f47d8b3", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 10 Feb 2014 19:18:29 +0000", "path": "/dir-spec-tests",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 19:18:30 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/shares/dropbox/dir-spec-tests?short_url=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '74'
      X-Dropbox-Request-Id:
      - 6e139d48d765a58c9a8c44f82221e618
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - db4e1f5f17d4de6af508ad5111f5a859
    body:
      encoding: US-ASCII
      string: ! '{"url": "https://www.dropbox.com/sh/y2wx4tpk9co1uqg/7wFKjUC2ep",
        "expires": "Tue, 01 Jan 2030 00:00:00 +0000"}'
  recorded_at: Mon, 10 Feb 2014 19:18:31 GMT
recorded_with: VCR 2.8.0
