---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: spec file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '265'
      X-Dropbox-Request-Id:
      - c6b8e74126ef8773a22beadf273256d4
      X-Requestid:
      - 4f30ec5392798bd2899d3e1d12270cef
    body:
      encoding: US-ASCII
      string: ! '{"revision": 35, "rev": "231f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 18:25:03 +0000", "client_mtime": "Mon, 10
        Feb 2014 18:24:59 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 18:25:11 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/media/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '85'
      X-Dropbox-Request-Id:
      - b1402eb1eb42deab326cd47f6568cd53
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 5990d3ffeef5704c3cf8f146e93e3507
    body:
      encoding: US-ASCII
      string: ! '{"url": "https://dl.dropboxusercontent.com/1/view/nx00e9hb9jdyf9a/qux.txt",
        "expires": "Mon, 10 Feb 2014 22:25:10 +0000"}'
  recorded_at: Mon, 10 Feb 2014 18:25:12 GMT
recorded_with: VCR 2.8.0
