---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: spec file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '399'
      X-Dropbox-Request-Id:
      - 034efdb1ce5b1515724c7984807a61e8
      X-Requestid:
      - 9482b2cdb9d7f61f29b247ce471bc3db
    body:
      encoding: US-ASCII
      string: ! '{"revision": 35, "rev": "231f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 18:25:03 +0000", "client_mtime": "Mon, 10
        Feb 2014 18:24:59 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 18:25:07 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/shares/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '116'
      X-Dropbox-Request-Id:
      - 1f3b92ca3f4820678e6b158621613862
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 9c5e0931ab145d94f14eb758fd5eb174
    body:
      encoding: US-ASCII
      string: ! '{"url": "https://db.tt/ntLrA9Il", "expires": "Tue, 01 Jan 2030 00:00:00
        +0000"}'
  recorded_at: Mon, 10 Feb 2014 18:25:08 GMT
recorded_with: VCR 2.8.0
