---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=awesome-tests-%C5%82%C3%B3%C5%82%C4%85&root=dropbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '137'
      X-Dropbox-Request-Id:
      - dbeb0aed313cb1b01c3747e3fa9f2415
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 02a0ba807c014df3179893f60b8da931
    body:
      encoding: US-ASCII
      string: ! '{"revision": 4, "rev": "41f47d8b3", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 10 Feb 2014 18:11:22 +0000", "path": "/awesome-tests-\u0142\u00f3\u0142\u0105",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 18:11:24 GMT
recorded_with: VCR 2.8.0
